@font-face {
  font-family: "Cuprum";
    src: url("../fonts/cuprum.woff");
}

@font-face {
  font-family: "PT Sans";
    src: url("../fonts/ptsans.woff");
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;

    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

body {
  font-weight: 400;
  font-size: 17px;
  font-family: "Cuprum", Arial, sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 16px;
}

.clearfix:after{
  content: '';
  display: table;
  clear: both;
}

.main-header {
  font-size: 17px;
}

.top-header {
  min-height: 40px;
  background: #293449;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.logo-link {
  display: inline-block;
  float: left;
  width: 220px;
  height: 40px;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background: #ee3643;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 5px #b52933;
}

.logo-link:hover {
  background: #ca2c37;
  box-shadow: 0 5px #9a212a;
}

.logo-link:active {
  background: #ba2732;
  box-shadow: 0 5px #8e1e26;
}

.search-form {
  display: inline-block;
  width: 270px;
}

.search-form input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding-left: 50px;
  color: #ffffff;
  background: #293449;
  border: 0;
}

.search-form input:hover,
.order-block a:hover {
  background: #212a3a;
}

.search-form input:focus {
  color: #000000;
  background: #ffffff;
  outline: 0;
}

.order-block {
  float: right;
  font-size: 0px;
}

.order-block a {
  display: inline-block;
  width: 150px;
  height: 40px;
  font-size: 17px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #ffffff;
}

.order-block a:active {
  color: rgba(255, 255, 255, 0.6);
  background: #161d29;
}

.order-block .order {
  background: #63a63e;
}

.order-block .order:hover{
  background: #5fbb2d;
}

.order-block .order:active{
  color: rgba(255, 255, 255, 0.51);
  background: #518534;
}

.bottom-header {
  padding-bottom: 60px;
  background: #f1f5f7;
}

.info-section {
  padding-top: 50px;
  padding-bottom: 40px;
  padding-left: 50px;
}

.header-title {
  float: left;
  width: 200px;
  margin-right: 70px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.header-contacts {
  float: left;
  box-sizing: border-box;
  width: 270px;
  text-align: center;
}

.tel {
  font-weight: 700;
  font-size: 21px;
  line-height: 45px;
  vertical-align: middle;
  color: #e9292a;
  border: 3px solid #ffffff;
}

.address {
  width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-block {
  float: right;
  width: 300px;
  font-size: 0px;
  text-align: right;
  outline: 2px solid rgba(200,0,0,0.5);
}

.user-block-btn {
  display: inline-block;
  height: 45px;
  font-size: 17px;
  line-height: 45px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #000000;
  background: #ffffff;
}

.user-block .log-in {
  width: 120px;
  margin-right: 10px;
  background: #ffffff;
}

.user-block .register {
  width: 150px;
}

.user-block .user-name {
  float: left;
  font-size: 21px;
}

.header-nav {
  min-height: 60px;
  background: #32425c;
}

.header-nav ul {
  margin: 0;
  padding: 0;
  font-size: 0px;
  box-shadow: inset 0 -5px #293449; 
}

.header-nav li {
  display: inline-block;
}

.header-nav a {
  display: block;
  padding: 0 30px;
  font-size: 17px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #ffffff;
}

.header-nav li:first-child a {
  padding-left: 50px;
}

.header-nav li:last-child a {
  padding-right: 50px;
}

/*main: products*/
.products {
  padding-top: 60px;
  padding-bottom: 85px;
}

/*main: promo-bar*/
.promo-bar {
  margin-bottom: 35px;
}

.promo {
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 300px;
  height: 125px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 20px;
  padding-right: 0;
}

.promo:nth-child(1) {
  margin-left: 0;
}

.promo h3 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #ffffff;
}

.promo a {
  display: inline-block;
  width: 135px;
  font-size: 14px;
  line-height: 38px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: rgba(0,0,0,0.1);
  border-radius: 5px;
}

.promo.materials {
  background: #f6b22d url("../img/materials.png") no-repeat 212px 50%;
}

.flag-new {
  position: absolute;
  right: -1px;
  top: -1px;
  width: 60px;
  height: 59px;
  background: url("../img/new-flag.png") no-repeat;
  overflow: hidden;
  z-index: 20;
}

.promo.tools {
  background: #4aafde url("../img/tools.png") no-repeat 197px 50%;
}

.promo.mototech {
  background: #cc79d1 url("../img/mototech.png") no-repeat 191px 50%;
}

.slider {
  float: left;
  width: 620px;
  height: 270px;
  background: #ccc;
}

.btn {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background: #ee3643;
  border-radius: 3px;
}

.promo.sales {
  background: #85d179 url("../img/sales.png") no-repeat 196px 50%;
}

.promo.delivery {
  background: #f6b22d url("../img/delivery.png") no-repeat 191px 50%;
}

/*main: popular-goods*/
.popular-title {
  position: relative;
  margin-bottom: 20px;
  padding: 25px;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  color: #32425c;
  background: #f7f3ec;
}

.popular-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 253px;
}

.popular-content {
  margin: 0;
  padding: 0;
}

.item {
  position: relative;
  z-index: 1;
  float: left;
  width: 218px;
  height: 320px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  list-style-type: none;
  border: 1px solid #e7e7e7;
}

.popular-content .item:nth-child(4n) {
  margin-right: 0;
}

.main-catalog .item:nth-child(3n) {
  margin-right: 0;
}

.item .actions {
  display: none;
  position: absolute;
  z-index: 10;
  box-sizing: border-box;
  width: 218px;
  height: 170px;
  padding: 46px 42px;
  font-size: 0px;
  background: #ffffff;
}

.item:hover,
.manufacturer:hover {
  border-color: #ffffff; 
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.item:hover .actions {
  display: block;
}

.item .actions .btn {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
}

.item .actions .btn.buy {
  margin-bottom: 7px;
  color: #ffffff;
  background: #63a63e;
  box-shadow: inset 0 -3px #367315;
}

.item .actions .btn.buy:hover{
  background: #5fbb2d;
}

.item .actions .btn.buy:active{
  background: #518534;
  box-shadow: 0 0;
}

.item .actions .btn.bookmark {
  height: 32px;
  line-height: 32px;
  color: #32425c;
  background: #ffffff;
  border: 3px solid #63a63e;
}

.item .actions .btn.bookmark:hover {
  border: 3px solid #32425c;
}

.item .actions .btn.bookmark:active,
.manufacturer:active {
  opacity: 0.3;
}

.item .image {
  width: 220px;
  height: 170px;
}

.item .image .helper {
  line-height: 170px;
}

.item img {
  vertical-align: middle;
}

.item .title {
  font-size: 18px;
  line-height: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.item .oldprice {
  height: 17px;
  margin: 10px;
  line-height: 17px;
  text-decoration: line-through;
  text-transform:uppercase;
  color: #999999;
}

.item .btn-price {

}

/*main: popular-manufacturer*/
.manufacturer {
  box-sizing: border-box;
  float: left;
  width: 220px;
  height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #e7e7e7;
  list-style-type: none;
}

.manufacturer:nth-child(4n) {
  margin-right: 0;
}

.manufacturer:active {
  border-color: #ffffff;
}

.manufacturer .helper {
  line-height: 145px;
}

.manufacturer img {
  vertical-align: middle;
}

/*main: services*/
.services {
  padding-top: 60px;
  padding-bottom: 100px;
  background: #f2f6f8;
}

.about {
  padding-top: 70px;
  padding-bottom: 85px;
}

.about-company {
  float: left;
  width: 540px;
}

.about-contacts {
  float: right;
  width: 300px;
}

.about h2 {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
}

.about p {
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.about-contacts p {
  margin-bottom: 35px;
}

.btn-more-about {
  width: 196px;
}

.btn-get-lost {
  margin-top: 40px;
  width: 276px;
}

/*main-catalog*/
.breadcrumbs {
  margin: 25px 0;
  padding: 0;
}

.breadcrumbs li{
  display: inline-block;
  padding-right: 40px;
  list-style-type: none;
}

.breadcrumbs a {
  font-size: 13px;
  line-height: 16px;
  font-family: "PT Sans", Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.catalog-title {
  margin-bottom: 20px;
  padding: 25px;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  color: #32425c;
  background: #f2f6f8;
}

.catalog-filter {
  float: left;
  width: 220px;
}

.filter-title {
  padding: 10px 0 10px 15px;
  font-weight: 400;
  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  border-radius: 3px;
}

.filter-title,
.filter-form .range,
.filter-form input[type="text"],
.filtered-content .sorting {
  background: #f7f3ec;
}

/*filter-form*/
.filter-form {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.filter-form ul {
  margin: 0;
  padding: 0;
}

.filter-form li {
  list-style-type: none;
}

.filter-form fieldset {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

.filter-form fieldset.power {
  border: 0;
}

.filter-form legend {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 17px;
}

.filter-form .range {
  width: 220px;
  height: 80px;
  margin-bottom: 10px;
  border-radius: 0 0 5px 5px;
}

.filter-form input[type="text"] {
  width: 95px;
  height: 38px;
  font-size: 17px;
  line-height: 38px;
  text-align: center;
  border: 0;
  border-radius: 3px;
}

.filter-form label {
  display: block;
  height: 20px;
  font-size: 15px;
}

.filter-form .power label {
  font-size: 14px;
}

.filter-form button {
  width: 140px;
  height: 38px;
  font-size: 13px;
  line-height: 38px;
  text-transform: uppercase;
  color: #000000;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

/*---------------------------*/
.filtered-content {
  float: right;
  width: 700px;
}

.sorting {
  margin-bottom: 20px;
  padding: 10px 0 10px 15px;
  font-weight: 400;
  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.sorting b {
  font-weight: 400;
}

.catalog-items {
  margin: 0;
  padding: 0;
  padding-bottom: 35px;
}

.page-selector {
  width: 700px;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  font-size: 0px;
}

.page-selector li {
  display: inline-block;
  margin-right: 15px;
  list-style-type: none;
}

.page-selector a {
  display: inline-block;
  width: 38px;
  height: 38px;
  font-size: 13px;
  line-height: 38px;
  font-family: "PT Sans", Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.page-selector a.current-page {
  color: #ffffff;
  background: #ee3643;
}

.page-selector a.next-page {
  width: 80px;
  padding-right: 30px;
  padding-left: 30px;
}

.main-catalog-about {
  padding-top: 60px;
  padding-bottom: 70px;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  background: #f2f6f8;
}

.about-title {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
  color: #000000;
}

/*footer*/
.main-footer ul{
  margin: 0;
  padding: 0;
}

.main-footer li{
  list-style-type: none;
}

.footer-nav {
  color: #f1f5f7;
  background: #32425c;
}

.main-footer-nav .footer-logo-link {
  float: left;
  width: 220px;
  height: 60px;

  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background: #ee3643;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 5px #b52933;
}

.main-footer-nav ul {
  float: right;
  font-size: 0px;
}

.main-footer-nav li {
  display: inline-block;
  padding-top: 35px;
  padding-left: 60px;
  font-size: 18px;
}

.main-footer-nav a {
  text-decoration: none;
  color: #f1f5f7;
}

.secondary-footer-nav {
  padding-top: 30px;
  padding-bottom: 50px;
}

.footer-address {
  float: left;
  width: 340px;
}

.secondary-footer-nav ul {
  float: right;
  font-size: 0px;
}

.secondary-footer-nav li {
  display: inline-block;
  padding-left: 60px;
  font-size: 18px;
}

.secondary-footer-nav a {
  text-decoration: none;
  color: #d4b275;
}

.bottom-footer {
  padding-top: 35px;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background: #293449;
}

.bottom-footer a {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #d4b275;
}

.copyright {
  float: left;
  width: 240px;
  padding-right: 150px;
}

.social {
  float: left;
  width: 250px;
}

.social .button {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-indent: -1000px;
  background: #212a3a;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.social .button.vk{
  background-image: url("../img/vk.gif");
}

.social .button.fb{
  background-image: url("../img/fb.gif");
}

.social .button.instagram{
  background-image: url("../img/instagram.gif");
}

.feedback {
  float: left;
  width: 160px;
}

.design {
  float: right;
  padding-right: 10px;
  width: 110px;
}
