@font-face {
  font-family: "Cuprum Regular";
  src: url("../fonts/cuprum.woff") format("woff"),
       url("../fonts/cuprum.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum Bold";
  src: url("../fonts/cuprumbold.woff") format("woff"),
       url("../fonts/cuprumbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum Italic";
  src: url("../fonts/cuprumitalic.woff") format("woff"),
       url("../fonts/cuprumitalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans Regular";
  src: url("../fonts/ptsans.woff") format("woff"),
       url("../fonts/ptsans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Bold";
  src: url("../fonts/ptsansbold.woff") format("woff"),
       url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart.woff") format("woff"),
       url("../fonts/symbols-technomart.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-left::before { content: "\3c"; } /* "<" */
.icon-right::before { content: "\3e"; } /* ">" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up::before { content: "\2c4"; } /* "˄" */
.icon-down::before { content: "\2c5"; } /* "˅" */
.icon-left-big::before { content: "\2190"; } /* "←" */
.icon-right-big::before { content: "\2192"; } /* "→" */
.icon-login::before { content: "\2386"; } /* "⎆" */
.icon-logout::before { content: "\241b"; } /* "␛" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-youtube::before { content: "\f39e"; } /* "" */
.icon-home::before { content: "🏠"; } /* "\1f3e0" */
.icon-user::before { content: "👨"; } /* "\1f468" */
.icon-phone::before { content: "📞"; } /* "\1f4de" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */
.icon-search::before { content: "🔍"; } /* "\1f50d" */
.icon-bookmark::before { content: "🔖"; } /* "\1f516" */

html,
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;

    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

body {
  font-size: 17px;
  font-family: "Cuprum Regular", Arial, sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 16px;
}

ul {
  list-style-type: none;
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

.main-header {
  font-size: 17px;
}

.top-header {
  min-height: 40px;
  background: #293449;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.logo-link {
  display: inline-block;
  float: left;
  width: 220px;
  height: 42px;
  font-size: 24px;
  line-height: 46px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background: #ee3643;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 5px #b52933;
}

.logo-link:hover {
  background: #ca2c37;
  box-shadow: 0 5px #9a212a;
}

.logo-link:active {
  background: #ba2732;
  box-shadow: 0 5px #8e1e26;
}

/*search-form*/
.search-form {
  display: block;
  float: left;
  width: 270px;
  max-height: 42px;
}

.icon-search::before {
  content: "\1f50d";
}

.btn-search {
  float: left;
  width: 48px;
  height: 42px;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
  border: none;
}

input[type="search"] {
  width: 222px;
  padding: 12px 0;
  font: 17px/18px "Cuprum Regular", "Arial", sans-serif;
  background-color: transparent;
  border: none;
}

input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

input[type="search"]::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

input[type="search"]::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.search-form:hover {
  background-color: #212a3a;
}

.search-form:hover .btn-search {
  color: rgba(255, 255, 255, 1);
}

input[type="search"]:focus {
  color: #000000;
  outline: none;
  background-color: #ffffff;
}

input[type="search"]:focus + .btn-search {
  color: #ee3643;
  background-color: #ffffff;
}

input[type="search"]:focus::-webkit-input-placeholder {
  color: #000000;
}

input[type="search"]:focus::-moz-placeholder {
  color: #000000;
}

input[type="search"]:focus::-ms-input-placeholder {
  color: #000000;
}

/*order-block*/
.order-block {
  float: right;
  font-size: 0px;
}

.order-block a {
  display: inline-block;
  box-sizing: border-box;
  width: 150px;
  padding-left: 13px;
  font-size: 17px;
  line-height: 42px;
  text-align: left;
  vertical-align: top;
  text-decoration: none;
  color: #ffffff;
}

.order-block a:hover {
  background: #212a3a;
}

.order-block a:active {
  color: rgba(255, 255, 255, 0.6);
  background: #161d29;
}

.icon-bookmark,
.basket .icon-basket {
  padding-right: 11px;
  opacity: 0.3;
}

.favorites:hover .icon-bookmark,
.basket:hover .icon-basket {
  opacity: 1;
}

.order-block .order {
  padding: 0;
  text-align: center;
  background: #63a63e;
}

.order-block .order:hover{
  background: #5fbb2d;
}

.order-block .order:active{
  color: rgba(255, 255, 255, 0.51);
  background: #518534;
}

.order-block .busy,
.order-block .busy:hover,
.order-block .busy:active {
  background: #ee3643;
}

/*bottom-header*/
.bottom-header {
  padding-bottom: 60px;
  background: #f1f5f7;
}

.info-section {
  padding-top: 46px;
  padding-bottom: 36px;
  padding-left: 50px;
}

.header-title {
  float: left;
  width: 240px;
  margin-right: 30px;
  padding-top: 2px;
  font: 700 16px/23px "Cuprum Italic", Arial, sans-serif;
  color: #ee3643;
}

.header-contacts {
  float: left;
  width: 270px;
  padding-top: 1px;
}

.tel {
  height: 39px;
  font-size: 21px;
  line-height: 39px;
  text-align: left;
  color: #e9292a;
  border: 3px solid #ffffff;
}

.tel span {
  padding-right: 33px;
  padding-left: 8px;
  font-size: 22px;
  color: #b7bfc8;
}

.address {
  width: 270px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #32425c;
}

/*user-block*/
.user-block {
  float: right;
  box-sizing: border-box;
  width: 300px;
  font-size: 0px;
  text-align: right;
}

.user-block-btn {
  display: inline-block;
  font-size: 21px;
  line-height: 45px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #000000;
  background: #ffffff;
}

.user-block-btn:hover {
  color: #ee3643;
}

.user-block-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-block .log-in {
  width: 110px;
  margin-right: 10px;
  padding-left: 10px;
  text-align: left;
  color: #000000;
}

.user-block .register {
  width: 150px;
  color: #000000;
}

.user-block .log-in:hover,
.user-block .register:hover {
  color: #ee3643;
}

.user-block .log-in:active,
.user-block .register:active {
  color: #b2b2b2;
}

.icon-login {
  padding-right: 5px;
  color: #c5c5c5;
}

.log-in:hover .icon-login {
  color: #32425c;
}

.log-in:active .icon-login {
  color: #c5c5c5;
}

.user-block-main {
  box-sizing: border-box;
  width: 300px;
  margin-bottom: 10px;
  vertical-align: middle;
  border: 3px solid #ffffff;
}

.user-block-main a {
  display: inline-block;
  box-sizing: border-box;
  height: 39px;
  font-size: 21px;
  line-height: 39px;
  vertical-align: middle;
  text-decoration: none;
  color: #000000;
  background: #ffffff;
}

.user-block-main a:hover {
}

.user-block-main a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-profile-name {
  position: relative;
  width: 252px;
  padding-left: 45px;
  text-align: left;
}

.user-profile-name::before {
  content: "\1f468";
  position: absolute;
  top: 0px;
  left: 13px;

  width: 10px;
  height: 10px;

  font-size: 18px;
  font-family: "symbols-technomart";
  color: #c5c5c5;
}

.user-profile-name:hover::before {
  color: #32425c;
}

.user-profile-name:active::before {
  color: #c5c5c5;
}

.user-log-out {
  width: 42px;
  text-align: right;
}

.user-log-out .icon-logout {
  color: #c5c5c5;
}

.user-log-out:hover .icon-logout {
  color: #32425c;
}

.user-log-out:active .icon-logout {
  color: #c5c5c5;
}

.user-block-actions {
  padding-left: 19px;
  text-align: left;
}

.user-block-actions a {
  font-size: 16px;
  line-height: 12px;
  text-decoration: underline;
  color: #32425c;
}

.user-block-actions a:hover {
  color: #ee4d59;
}

.user-block-actions a:active {
  color: rgba(50, 66, 92, 0.3);
}

.devider {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 9px;
}

.dot {
  position: absolute;
  width: 4px;
  height: 4px;
  top: 3px;
  left: 16px;
  background: #32425c;
  border-radius: 50%;
}

/*header-nav*/
.header-nav {
  background: #32425c;
}

.header-nav ul {
  margin: 0;
  padding: 0;
  font-size: 0px;
  text-align: center;
  box-shadow: inset 0 -5px #293449; 
}

.header-nav li {
  display: inline-block;
  vertical-align: top;
}

.header-nav a {
  display: block;
  padding: 0 30px;
  font-size: 17px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.header-nav a:hover {
  background: #293449;
}

.header-nav a:active {
  color: rgba(255, 255, 255, 0.5);
  background: #1d2739;
}

/*main: products*/
.products {
  padding-top: 60px;
  padding-bottom: 65px;
}

/*main: promo-bar*/
.promo-bar {
  margin-bottom: 31px;
}

.promo {
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 300px;
  height: 123px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 22px;
  padding-right: 0;
}

.promo:nth-child(1) {
  margin-left: 0;
}

.promo h3 {
  margin-bottom: 20px;
  font: 24px "Cuprum Bold";
  font-size: 24px;
  color: #ffffff;
}

.promo a {
  position: absolute;
  bottom: 22px;
  left: 25px;
  display: inline-block;
  width: 135px;
  font-size: 14px;
  line-height: 38px;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: rgba(0,0,0,0.1);
  border-radius: 5px;
}

.promo a:hover {
  background-color: rgba(0,0,0,0.2);  
}

.promo a:active {
  background-color: rgba(0,0,0,0.3);
}

.promo.materials {
  background: #f6b22d url("../img/materials.png") no-repeat 212px 50%;
}

.flag-new {
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 59px;
  background: url("../img/new-flag.png") no-repeat;
  overflow: hidden;
  z-index: 20;
}

.promo.tools {
  background: #4aafde url("../img/tools.png") no-repeat 197px 50%;
}

.promo.mototech {
  background: #cc79d1 url("../img/mototech.png") no-repeat 191px 50%;
}

/*slider*/
.slider {
  position: relative;
  float: left;
  width: 620px;
  height: 266px;
  background: #acaaa7;
}

.slider input[type=radio] {
  position: absolute;
  opacity: 0;
}

.slider-controls{
  position: absolute;
  z-index: 20;
  bottom: 35px;
  left: 50%;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
}

.slider-controls label{
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 3px;
  background: #ffffff;
  border: 2px solid #ffffff;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

.slider__scroll {
  position: absolute;
  top: 108px;
  z-index: 20;
  font: 45px "symbols-technomart";
  color: #ffffff;
  border: none;
  background: transparent;
}

.slider__scroll-left {
  left: -2px;
}

.slider__scroll-right {
  right: -4px;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] { 
  background: #ee3643;
}

.slide{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide__header {
  margin-top: 26px;
  margin-bottom: 5px;
  margin-left: 24px;
  font: 36px/30px "Cuprum Bold", Arial, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}

.slide__text {
  margin-left: 24px;
  font: 18px/24px "PT Sans Regular", Arial, sans-serif;
  text-transform: none;
  color: #ffffff;
}

.btn {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background: #ee3643;
  border-radius: 3px;
}

.btn:hover {
  background: #ca2c37;
}

.btn:active {
  background: #ba2732;
}

.slide__more-btn {
  position: absolute;
  bottom: 22px;
  left: 25px;
  width: 195px;
}

.slide:nth-child(1){
  background-image:url("../img/slider1.jpg");
  background-repeat:no-repeat;
}

.slide:nth-child(2){
  background-image:url("../img/slider2.jpg");
  background-repeat:no-repeat;
}

.slide{
  display:none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) { 
  display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) { 
  display: block;
}
/*end of slider*/

.promo.sales {
  background: #85d179 url("../img/sales.png") no-repeat 196px 50%;
}

.promo.delivery {
  background: #f6b22d url("../img/delivery.png") no-repeat 191px 50%;
}

/*main: popular-goods*/
.popular-title {
  position: relative;
  margin-bottom: 20px;
  padding: 28px;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  color: #32425c;
  background: #f7f3ec;
}

.popular-btn {
  position: absolute;
  top: 26px;
  right: 25px;
  width: 253px;
}

.popular-content {
  font-size: 0px;
}

.item {
  position: relative;
  z-index: 1;
  float: left;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  font: 17px/20px "PT Sans Bold", Arial, sans-serif;
  text-align: center;
  vertical-align: top;
  border: 1px solid #e7e7e7;
}

.item .flag-new {
  top: -1px;
  right: -1px;
  overflow: hidden;
}

.popular-content .item:nth-child(4n) {
  margin-right: 0;
}

.main-catalog .item:nth-child(3n) {
  margin-right: 0;
}

.item:hover {
  border-color: #ffffff; 
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.item .actions {
  display: none;
  position: absolute;
  z-index: 10;
  box-sizing: border-box;
  width: 218px;
  height: 168px;
  padding: 45px 42px;
  font-size: 0px;
  background: rgba(255, 255, 255, 0.9);
}

.item:hover .actions {
  display: block;
}

.actions .btn {
  display: block;
  font-family: "Cuprum Regular", Arial, sans-serif;
}

.btn-buy {
  position: relative;
  margin-bottom: 7px;
  text-align: left;
  color: #ffffff;
  background: #63a63e;
  box-shadow: inset 0 -3px #367315;
}

.btn-buy .icon-basket {
  padding-right: 15px;
  padding-left: 10px;
  font-size: 17px;
  opacity: 0.3;
}

.btn-buy:hover{
  background: #5fbb2d;
}

.btn-buy:hover .icon-basket {
  opacity: 1;
}

.btn-buy:active{
  background: #518534;
  box-shadow: 0 0;
}

.item .btn-bookmark {
  height: 32px;
  line-height: 32px;
  color: #32425c;
  background: #ffffff;
  border: 3px solid #63a63e;
}

.item .btn-bookmark:hover {
  border: 3px solid #32425c;
}

.item .btn-bookmark:active {
  opacity: 0.3;
}

.item .image {
  width: 218px;
  height: 168px;
  overflow: hidden;
}

.image .helper {
  line-height: 168px;
}

.item img {
  max-width: 100%;
  vertical-align: middle;
}

.item .title {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 25px;
  font-size: 18px;
  line-height: 20px;
}

.item .oldprice {
  min-height: 20px;
  margin-bottom: 10px;
  font-size: 17px;
  vertical-align: middle;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #999999;
}

.item .btn-price {
  position: relative;
  width: 80px;
  margin: 0 auto 20px;
  padding: 0 30px;
  font-size: 17px;
}

.item .btn-price:hover,
.item .btn-price:active {
  background-color: #ee3643;
}

.item .btn-price::after{
  content: "";
  position: absolute;
  top: 0;
  right: -19px;
  width: 0;
  height: 0;
  border: 19px solid #ffffff;
  border-left-color: #ee3643;
}

/*main: popular-manufacturer*/
.manufacturer {
  box-sizing: border-box;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #e7e7e7;
}

.manufacturer:nth-child(4n) {
  margin-right: 0;
}

.manufacturer:hover {
  border-color: #ffffff; 
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.manufacturer:active {
  border-color: #ffffff;
  opacity: 0.3;
}

.manufacturer-link {
  display: inline-block;
  box-sizing: border-box;
  width: 218px;
  height: 143px;
  line-height: 143px;
  vertical-align: middle;
}

.manufacturer img {
  vertical-align: middle;
}

/*main: services*/
.services {
  padding-top: 66px;
  background: #f2f6f8;
}

.services-header h2 {
  margin-bottom: 30px;
  font: 30px/24px "Cuprum Regular", Arial, sans-serif;
  text-transform: uppercase;
}

.services-header p {
  width: 400px;
  font: 13px/24px "PT Sans Regular", Arial, sans-serif;
}

/*services-tabs*/
.services-tabs{
  position: relative;
  height: 350px;
}

.services-tabs input[type=radio] {
  position: absolute;
  opacity: 0;
}

.services-controls{
  position: absolute;
  top: 70px;
  left: 0;
  width: 240px;
}

.services-controls label{
  display: block;
  box-sizing: border-box;
  width: 240px;
  height: 60px;
  padding: 0 30px;
  font-weight: 700;
  font-size: 21px;
  line-height: 55px;
  text-decoration: none;
  color: #ffffff;
  background: #32425c;
  box-shadow: 
    inset 0 -1px #293449,
    inset 0 1px #405069;
  cursor: pointer;
}

.services-controls label:hover {
  background: #293449;
}

#services-btn-1:checked ~ .services-controls label[for="services-btn-1"],
#services-btn-2:checked ~ .services-controls label[for="services-btn-2"],
#services-btn-3:checked ~ .services-controls label[for="services-btn-3"] { 
  color: #32425c;
  background: #ffffff;
  box-shadow: 0 1px #ffffcc;
}

.tab{
  position: absolute;
  top: 0;
  left: 240px;
  box-sizing: border-box;
  width: 700px;
  height: 100%;
  padding: 70px 340px 0 80px;
  overflow: hidden;

  background-repeat: no-repeat;
  background-position: 100% 100%;
  box-shadow: -55px -15px 30px -60px rgba(0, 0, 0, 0.5);
}

.tab h2 {
  margin-bottom: 35px;
  font: 36px/24px "Cuprum Regular", Arial, sans-serif;
  text-transform: uppercase;
  color: #32425c;
}

.tab p {
  width: 280px;
  font: 13px/24px "PT Sans Regular", Arial, sans-serif;
}

.tab:nth-child(2) p{
  width: 380px;
}

.tab:nth-child(1){
  background-image: url("../img/services-delivery.png");
}

.tab:nth-child(2){
  background-image: url("../img/services-guarantee.png");
}

.tab:nth-child(3){
  background-image: url("../img/services-credit.png");
}

.tab{
  display: none;
}

#services-btn-1:checked ~ .tabs .tab:nth-child(1) { 
  display: block;
}

#services-btn-2:checked ~ .tabs .tab:nth-child(2) { 
  display: block;
}

#services-btn-3:checked ~ .tabs .tab:nth-child(3) { 
  display: block;
}

/*main: about*/
.about {
  padding-top: 78px;
  padding-bottom: 85px;
}

.about-company {
  float: left;
  width: 540px;
}

.about-contacts {
  float: right;
  width: 300px;
}

.about h2 {
  margin-bottom: 24px;
  font: 30px "Cuprum Regular";
  text-transform: uppercase;
}

.about p {
  margin-top: 24px;
  font: 13px/24px "PT Sans Regular", Arial, sans-serif;
}

.about p:nth-of-type(2) {
  width: 420px;
}

.about ul {
  margin-top: 10px;
  margin-bottom: 28px;
}

.about li {
  padding-left: 35px;
  font: 18px/40px "Cuprum Regular", Arial, sans-serif;
  background: url("../img/about-li.png") no-repeat 0 50%;
}

.about-contacts p {
  width: 185px;
  margin-bottom: 30px;
}

.btn-more-about {
  width: 220px;
}

.write-us-btn {
  width: 300px;
  margin-top: 37px;
}

/*main-catalog*/
.breadcrumbs {
  margin: 20px 0;
}

.breadcrumbs li{
  display: inline-block;
  padding-right: 5px;
  vertical-align: top;
}

.breadcrumbs a {
  display: inline-block;
  font: 13px/16px "PT Sans Regular", Arial, sans-serif;
  vertical-align: top;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.breadcrumbs .icon-home {
  padding-right: 2px;
  font-size: 16px;
  color: #c1c6ce;
}

.breadcrumbs .icon-right {
  padding-right: 8px;
  font-size: 14px;
  color: #c1c6ce;
}

.catalog-title {
  margin-bottom: 20px;
  padding: 25px;
  padding-top: 30px;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  color: #32425c;
  background: #f2f6f8;
}

.catalog-filter {
  float: left;
  width: 220px;
}

.filter-title {
  padding-left: 15px;
  font: 13px/38px "PT Sans Regular", Arial, sans-serif;
  text-transform: uppercase;
  background: #f7f3ec;
  border-radius: 3px;
}

/*filter-form*/
.filter-form {
  font-family: "PT Sans Regular", Arial, sans-serif;
  text-transform: uppercase;
}

.filter-form fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

.filter-form legend {
  padding-top: 18px;
  padding-bottom: 18px;
  font-weight: 700;
  font-size: 17px;
}

/*range-filter*/
.fieldset-price legend {
  padding-top: 16px;
}

.range-filter {
  width: 220px;
  margin-bottom: 25px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 10px;
  padding: 0 20px;
  background: #f7f3ec;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
}

.scale {
  margin-top: 39px;
  height: 2px;
  background: #d7dcde;
}

.bar {
  width: 150px;
  height: 2px;
  background: #00ca74;
}

.toggle {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 4px;
  height: 4px;
  border: 8px solid white;
  background: #ababab;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px rgba(0, 1, 1, 0.14);
}

.min-toggle {
  left: 20px;
}

.max-toggle {
  left: 160px;
}

.price-controls {
  position: relative;
  font-size: 0px;
}

.price-controls__dash {
  position: absolute;
  top: 19px;
  left: 105px;
  width: 10px;
  height: 1px;
  background: #444444;
}

.price-controls input {
  width: 95px;
  padding: 8px 0;
  font-size: 17px;
  color: #000000;
  background: #f7f3ec;
  text-align: center;
  border: 0;
  border-radius: 3px;
}

.min-price {
  margin-right: 30px;
}
/*end of range-filter*/

.fieldset-manufacturer ul {
  margin-top: -9px;
  margin-bottom: 12px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  display: block;
  padding-left: 35px;
  font-size: 15px;
  line-height: 40px;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  content: "\2610";
  font-family: "symbols-technomart";
  font-size: 28px;
  color: #c1c1c1;
}

input[type="checkbox"] + label:hover::before,
input[type="radio"] + label:hover::before {
  color: #b5b5b5;
}

input[type="checkbox"]:disabled + label::before,
input[type="radio"]:disabled + label::before {
  color: #b5b5b5;
  opacity: 0.3;
}

input[type="checkbox"]:checked + label::before {
  content: "\2611";
}

.filter-form .fieldset-power {
  margin-bottom: 58px;
  border: none;
}

.fieldset-power ul {
  margin-top: -9px;
  margin-bottom: 12px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  position: relative;
  display: block;
  padding-left: 35px;
  font-size: 14px;
  line-height: 40px;
  cursor: pointer;
}

input[type="radio"] + label::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  content: "\25cb";
  font-family: "symbols-technomart";
  font-size: 28px;
  color: #c1c1c1;
}

input[type="radio"]:checked + label::before {
  content: "\25cf";
}

.filter-form button {
  width: 140px;
  padding: 10px 0;
  font-size: 13px;
  text-transform: uppercase;
  color: #000000;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

/*---------------------------*/
.filtered-content {
  float: right;
  width: 700px;
}

.sorting {
  height: 38px;
  margin-bottom: 20px;
  padding-left: 15px;
  font: 13px "PT Sans Regular", Arial, sans-serif;
  text-transform: uppercase;
  background: #f7f3ec;
}

.sorting b {
  margin-right: 140px;
  font-weight: 400;
}

.sorting a {
  text-decoration: none;
}

.sorting-btn {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sorting-btn.active {
  color: #ee3643;
  border: 0;
}

.sorting-btn:hover {
  color: #000000;
  border-bottom-style: solid;
}

.sorting-btn.by-price {
  margin-right: 70px;
}

.sorting-btn.by-type {
  margin-right: 60px;
}

.sorting-btn.by-functionality {
  margin-right: 30px;
}

.sorting .icon-up-dir,
.sorting .icon-down-dir {
  font-size: 24px;
  color: #c6c2bd;
}

.active .icon-up-dir,
.active .icon-down-dir {
  color: #ee3643;
}

.sorting .icon-up-dir::before,
.sorting .icon-down-dir::before {
  padding: 0;
  margin: 0;
}

.sorting .icon-up-dir::before {
  margin-right: 4px;
}

/* catalog-items*/
.catalog-items {
  padding-bottom: 30px;
}

.page-selector {
  width: 700px;
  margin-bottom: 60px;
  font-size: 0px;
}

.page-selector li {
  display: inline;
  margin-right: 10px;
}

.page-selector a {
  display: inline-block;
  box-sizing: border-box;
  width: 38px;
  font: 13px/38px "PT Sans Regular", Arial, sans-serif;
  vertical-align: top;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.page-selector a:hover {
  border-color: #bdc6ca;
}

.page-selector a:active {
  border-color: #ee3643;
}

.page-selector a.current-page {
  color: #ffffff;
  background: #ee3643;
  border: 0;
}

.page-selector a.next-page {
  width: 140px;
  }

.main-catalog-about {
  padding-top: 60px;
  padding-bottom: 68px;
  font: 13px/24px "PT Sans Regular", Arial, sans-serif;
  background: #f2f6f8;
}

.about-title {
  margin-bottom: 25px;
  font: 30px "Cuprum Regular", Arial, sans-serif;
  text-transform: uppercase;
  color: #000000;
}

/*footer*/
.footer-nav {
  color: #f1f5f7;
  background: #32425c;
}

/*main-footer*/
.footer .logo-link {
  height: 63px;
  font-size: 30px;
  line-height: 63px;
}

.main-footer-nav {
  float: right;
  width: 720px;
  font-size: 0px;
  text-align: right;
}

.main-footer-nav li {
  display: inline-block;
  margin-top: 39px;
  margin-left: 60px;
  font-size: 18px;
  vertical-align: top;
}

.main-footer-nav a {
  text-decoration: none;
  color: #f1f5f7;
}

.main-footer-nav a:hover {
  text-decoration: underline;
}

.main-footer-nav a:active {
  text-decoration: none;
  opacity: 0.5;
}

/*secondary-footer*/
.secondary-footer {
  padding-top: 35px;
  padding-bottom: 55px;
}

.footer-address {
  float: left;
  width: 330px;
  font-size: 18px;
}

.secondary-footer-nav {
  float: right;
  width: 600px;
  font-size: 0px;
  text-align: right;
}

.secondary-footer-nav li {
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 60px;
  font-size: 18px;
  vertical-align: top;
}

.secondary-footer-nav a {
  text-decoration: none;
  color: #d4b275;
}

.secondary-footer-nav a:hover {
  text-decoration: underline;
}

.secondary-footer-nav a:active {
  text-decoration: none;
  opacity: 0.5;
}

/*bottom-footer*/
.bottom-footer {
  padding-top: 35px;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background: #293449;
}

.bottom-footer a {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #d4b275;
}

.bottom-footer a:hover {
  text-decoration: underline;
}

.bottom-footer a:active {
  text-decoration: none;
  color: #ee3643;
}

.copyright {
  float: left;
  width: 240px;
  padding-right: 150px;
}

.social {
  float: left;
  width: 250px;
}

.social .button {
  display: inline-block;
  width: 40px;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  vertical-align: top;
  color: #ffffff;
  background: #212a3a;
  border-radius: 50%;
}

.social .button:hover,
.social .button:active {
  background: #ee3643;
  text-decoration: none;
}

.button:hover span::before,
.button:active span::before {
  color: #ffffff;
}

.feedback {
  float: left;
  width: 160px;
}

.design {
  float: right;
  width: 110px;
}

/*write-us*/
.write-us {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 50;
  display: none;
  box-sizing: border-box;
  width: 620px;
  margin-top: -215px;
  margin-left: -310px;
  padding: 50px 80px 37px;
  background: rgba(255, 255, 255, 1.0);
  box-shadow: 
    inset 0 7px #ee3643,
    inset 0 -112px #f1f1f1,
    0 20px 40px rgba(0, 1, 1, 0.75);
}

@-webkit-keyframes bounce {
  0% { -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }
  70% { -webkit-transform: translateY(30px); transform: translateY(30px); }
  90% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); }
}

@keyframes bounce {
  0% { -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }
  70% { -webkit-transform: translateY(30px); transform: translateY(30px); }
  90% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); }
}

.write-us-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

@-webkit-keyframes shake {
  0%, 100% { -webkit-transform: translateX(0); transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  20%, 40%, 60%, 80% { -webkit-transform: translateX(10px); transform: translateX(10px); }
}

@keyframes shake {
  0%, 100% { -webkit-transform: translateX(0); transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  20%, 40%, 60%, 80% { -webkit-transform: translateX(10px); transform: translateX(10px); }
}

.write-us-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.popup-window__cross {
  position: absolute;
  top: 16px;
  right: 9px;
  width: 21px;
  height: 21px;
  font-size: 0px;
  background: url("../img/cross.png") no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
}

.write-us fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.write-us legend {
  font-size: 18px;
}

.write-us input {
  box-sizing: border-box;
  width: 220px;
  margin-top: 8px;
  padding: 0 15px;
  font: 13px/34px "PT Sans Regular", Arial, sans-serif;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.write-us__name {
  float: left;
  width: 220px;
}

.write-us__email {
  float: right;
  width: 220px;
}

.write-us__devider {
  clear: both;
  height: 19px;
}

.write-us__text textarea {
  box-sizing: border-box;
  width: 460px;
  height: 114px;
  margin-top: 8px;
  padding: 10px 15px;
  font: 13px/18px "PT Sans Regular", Arial, sans-serif;
  resize: none;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.write-us__submit {
  margin-top: 60px;
}

.write-us__submit-btn {
  width: 460px;
  line-height: 38px;
  border: 0;
  border-radius: 3px;
}

/*popup-map*/
.popup-map {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 50;
  display: none;
  box-sizing: border-box;
  /*width: 940px;*/
  /*height: 450px;*/
  margin-top: -225px;
  margin-left: -470px;
  padding: 0;
  background: rgba(255, 255, 255, 1.0);
  box-shadow: 0 0 14px 1px rgba(35, 31, 32, 0.5);
}

.popup-map-show {
  display: block;
}

.popup-map-close {
  top: 9px;
}

.popup-map iframe {
  border: none;
}

/*in-cart*/
.in-cart {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 50;
  display: none;
  box-sizing: border-box;
  width: 620px; /*height: 292px;*/
  margin-top: -146px;
  margin-left: -310px;
  background: rgba(255, 255, 255, 1.0);
  box-shadow: 
    inset 0 7px #ee3643,
    0 20px 40px rgba(0, 1, 1, 0.75);
}

.in-cart-show {
  display: block;
}

.in-cart__content {
  padding: 55px 80px;
}

.in-cart__content__round {
  display: inline-block;
  width: 65px;
  height: 65px;
  margin-right: 25px;
  vertical-align: middle;
  background: #63a63e url("../img/done.png") no-repeat 50% 50%;
  border-radius: 50%;
}

.in-cart__content__text {
  font-size: 30px;
  line-height: 65px;
}

.in-cart__buttons {
  line-height: 112px;
  text-align: center;
  background: #f1f1f1;
}

.in-cart__button__order {
  width: 220px;
  margin-right: 16px;
}

.in-cart__button__to-catalog {
  width: 220px;
  color: #000000;
  background: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

.in-cart__button__to-catalog:hover {
  background: #ffffff;
  outline: 2px solid #ee3643;
}

/*overlay*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.overlay-show {
  display: block;
}
